.App {
  text-align: center;
  width:60%;
  margin: auto;
  background: #f0f0f5;
}
.cell {
    background: #fff;
    border-radius: 50%;
    border: none;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 80px;
    margin: 10px;
    outline: none;
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 80px;

}

.mini-cell {
    background: #fff;
    border-radius: 50%;
    border: none;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 20px;
    margin: 10px;
    outline: none;
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 20px;
}

.red {
  background: #ffa000;
}

.blue {
  background: #28328c
}


